In [17]:
import pandas as pd
import numpy as np

In [18]:
df1 = pd.read_csv('Dataset_original.csv')

In [19]:
df1.head()

,user_id,date,app_name,category,screen_time_min,launches,interactions,is_productive,youtube_views,youtube_likes,youtube_comments
0,1051,00:00.0,Camera,Utilities,24.53,2.0,7.0,False,NaN,NaN,NaN
1,1088,43:41.7,Chrome,Utilities,19.78,3.0,2.0,False,NaN,NaN,NaN
2,1052,27:23.3,Spotify,Entertainment,32.03,1.0,6.0,False,NaN,NaN,NaN
3,1028,11:05.0,Google Maps,Utilities,19.10,2.0,5.0,False,NaN,NaN,NaN
4,1034,54:46.7,Instagram,Social,25.19,1.0,5.0,False,NaN,NaN,NaN

In [20]:
df1.tail()

,user_id,date,app_name,category,screen_time_min,launches,interactions,is_productive,youtube_views,youtube_likes,youtube_comments
2995,1086,05:13.3,Camera,Utilities,9.91,2.0,3.0,False,NaN,NaN,NaN
2996,1068,48:54.9,Netflix,Entertainment,3.40,4.0,2.0,False,NaN,NaN,NaN
2997,1081,32:36.7,Microsoft Teams,Productivity,17.18,2.0,6.0,True,NaN,NaN,NaN
2998,1038,16:18.3,WhatsApp,Social,149.72,3.0,5.0,False,NaN,NaN,NaN
2999,1089,00:00.0,Gmail,Utilities,18.50,1.0,2.0,False,NaN,NaN,NaN

In [21]:
df1.describe()

,user_id,screen_time_min,launches,interactions,youtube_views,youtube_likes,youtube_comments
count,3000.000000,2980.000000,2990.000000,2988.000000,142.000000,142.000000,142.000000
mean,1049.800667,29.910393,1.994649,4.963855,256577.183099,14645.267606,2695.563380
std,29.406369,30.576984,1.404232,2.223689,135872.940749,10511.930022,2147.688995
min,1000.000000,0.010000,0.000000,0.000000,1738.000000,69.000000,8.000000
25%,1024.000000,8.665000,1.000000,3.000000,141490.000000,6548.250000,957.750000
50%,1049.000000,20.605000,2.000000,5.000000,249747.000000,12928.500000,2325.500000
75%,1076.000000,40.437500,3.000000,6.000000,364498.000000,19929.000000,3671.500000
max,1100.000000,218.390000,9.000000,13.000000,494839.000000,43893.000000,8934.000000

In [22]:
df = df1.copy()

In [23]:
df.isnull().sum()

user_id                0
date                   0
app_name               0
category               0
screen_time_min       20
launches              10
interactions          12
is_productive          0
youtube_views       2858
youtube_likes       2858
youtube_comments    2858
dtype: int64

In [24]:
df['screen_time_min']=df['screen_time_min'].fillna(df['screen_time_min'].mean())

In [25]:
df.drop(['date'],axis=1, inplace=True)

In [26]:
most_f1=df['launches'].mode()[0]
print(most_f1)

2.0

In [28]:
df['launches']=df['launches'].fillna(most_f1)

In [29]:
df.isnull().sum()

user_id                0
app_name               0
category               0
screen_time_min        0
launches               0
interactions          12
is_productive          0
youtube_views       2858
youtube_likes       2858
youtube_comments    2858
dtype: int64

In [30]:
most_f2=df['interactions'].mode()[0]
print(most_f2)

5.0

In [31]:
df['interactions']=df['interactions'].fillna(most_f2)

In [32]:
# As youtube likes, views and comments have most NaN values we will drop those columns.
df.drop(['youtube_views','youtube_likes','youtube_comments'],axis=1,inplace=True)

In [33]:
#cleaned dataset
df.head()

,user_id,app_name,category,screen_time_min,launches,interactions,is_productive
0,1051,Camera,Utilities,24.53,2.0,7.0,False
1,1088,Chrome,Utilities,19.78,3.0,2.0,False
2,1052,Spotify,Entertainment,32.03,1.0,6.0,False
3,1028,Google Maps,Utilities,19.10,2.0,5.0,False
4,1034,Instagram,Social,25.19,1.0,5.0,False

In [34]:
df.shape

(3000, 7)